.navBar
{
    width: 100vw;
    height: 50px;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2,max-content);
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.active
{
    color: rgba(2, 241, 241, 0.83);
    letter-spacing: 2px;
    transition:all .2s ease-in-out .25s;
}